Repository Hasnep/roc-html: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-format, markdown-format, github-workflows-check, nix-format

.pre-commit-config.yaml:

repos:
  # General checks
  - repo: local
    hooks:
      - name: Prevent committing to main
        id: no-commit-to-branch
        language: system
        entry: no-commit-to-branch
        args: [--branch, main]
        pass_filenames: false
      - name: Make sure files end with a newline character
        id: end-of-file-fixer
        language: system
        entry: end-of-file-fixer
        types: [text]
      - name: Remove trailing whitespace
        id: trailing-whitespace-fixer
        language: system
        entry: trailing-whitespace-fixer
        types: [text]
      - name: Check for files that would conflict on case-insensitive filesystem
        id: check-case-conflict
        language: system
        entry: check-case-conflict
      - name: Check for merge conflicts
        id: check-merge-conflict
        language: system
        entry: check-merge-conflict
      - name: Check executable files have a shebang
        id: check-executables-have-shebangs
        language: system
        entry: check-executables-have-shebangs
        types: [executable]
      - name: Check scripts with a shebang are executable
        id: check-shebang-scripts-are-executable
        language: system
        entry: check-shebang-scripts-are-executable
      - name: Don't allow adding large files
        id: check-added-large-files
        language: system
        entry: check-added-large-files

  # Roc
  - repo: https://github.com/hasnep/pre-commit-roc
    rev: v0.1.0
    hooks:
      - name: Lint Roc files
        id: check
        args: [src/main.roc]
      - name: Format Roc files
        id: format

  # YAML
  - repo: local
    hooks:
      - name: Format YAML files
        id: yaml-format
        language: system
        entry: prettier --write
        types: [yaml]

  # Markdown
  - repo: local
    hooks:
      - name: Format markdown files
        id: markdown-format
        language: system
        entry: prettier --write
        types: [markdown]

  # GitHub Actions
  - repo: local
    hooks:
      - name: Validate GitHub Actions workflow files
        id: github-workflows-check
        language: system
        entry: actionlint
        types: [yaml]
        files: \.github/workflows/.*\.ya?ml$

  # Nix
  - repo: local
    hooks:
      - name: Format Nix files
        id: nix-format
        language: system
        entry: nixfmt
        types: [nix]

Add ratchet
  .pre-commit-config.yaml
  Justfile
  flake.nix
Due: yaml-format, nix-format

Pin actions
  .github/workflows/bundle.yaml
  .github/workflows/check-pr-labels.yaml
  .github/workflows/generate-docs.yaml
  .github/workflows/run-pre-commit.yaml
  .github/workflows/test.yaml
  .github/workflows/update-draft-release.yaml
Due: yaml-format, github-workflows-check

Upgrade setup-roc action to v0.4.0
  .github/workflows/bundle.yaml
  .github/workflows/generate-docs.yaml
  .github/workflows/test.yaml
Due: yaml-format, github-workflows-check

Update Nix flake inputs
  flake.lock
Due: none

Upgrade setup-roc action to v0.5.0
  .github/workflows/bundle.yaml
  .github/workflows/generate-docs.yaml
  .github/workflows/test.yaml
Due: yaml-format, github-workflows-check

Upgrade Roc
  flake.lock
  flake.nix
Due: nix-format

Update Roc in Nix flake to v0.0.0-alpha2
  flake.lock
  flake.nix
Due: nix-format

Update syntax to support Roc v0.0.0-alpha2
  examples/example.roc
  src/Attribute.roc
  src/Html.roc
  src/SafeStr.roc
Due: none

Update Roc version in GitHub workflows
  .github/workflows/bundle.yaml
  .github/workflows/generate-docs.yaml
  .github/workflows/test.yaml
Due: yaml-format, github-workflows-check

Replace magic-nix-cache-action
  .github/workflows/run-pre-commit.yaml
Due: yaml-format, github-workflows-check

Remove .envrc
  .envrc
Due: none

Update Roc to alpha 4
  flake.lock
  flake.nix
Due: nix-format

Clean up Nix flake
  flake.lock
  flake.nix
Due: nix-format

Add classes function to add multiple classes
  src/Attribute.roc
Due: none

Upgrade GitHub Actions
  .github/workflows/bundle.yaml
  .github/workflows/generate-docs.yaml
  .github/workflows/run-pre-commit.yaml
  .github/workflows/test.yaml
  .github/workflows/update-draft-release.yaml
Due: yaml-format, github-workflows-check
